<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form action="" [formGroup]="form">
      <ion-img src="../../assets/img/dente.png"></ion-img>

      <ion-item>
        <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>



      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-input formControlName="senha" label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>



      </ion-item>

     <ion-button class="ion-padding" expand="full">ENTRAR</ion-button>



  </form>

  </ion-list>

</ion-content>




